.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1166px;
  min-height: 233px;
  margin: 0 auto;
  padding-bottom: 131px;

  @include viewport--xl {
    width: 96%;
  }

  @include viewport--lg {
    padding-bottom: 28px;
  }

  @include viewport--md {
    padding-bottom: 67px;
  }
}

.about-us h2 {
  font-weight: 600;
  margin: 0;
  margin-top: 150px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  color: $color-title;

  @include viewport--lg {
    margin-top: 10px;
    font-size: 24px;
    line-height: 41px;
  }

  @include viewport--md {
    margin-top: 11px;
    max-width: 290px;
  }
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;

  width: 1166px;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;

  @include viewport--xl {
    width: 90%;
  }

  @include viewport--lg {
    width: 556px;
    margin-top: 30px;
  }

  @include viewport--md {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-bottom: 4px;
  }
}

.about-us__list span {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;

  color: $color-button;

  @include viewport--lg {
    margin-bottom: 18px;
  }

  @include viewport--md {
    margin-bottom: 0;
  }
}

.about-us__item {
  width: 263px;
  margin-right: 38px;

  @include viewport--xl {
    margin-right: calc((100% - 263px*3)/2);
  }

  @include viewport--lg {
    margin-bottom: 22px;
    margin-right: 30px;
  }

  @include viewport--md {
    margin-bottom: 35px;
    min-height: 125px;
    margin-right: 0;
  }
}

.about-us__item:nth-child(4n) {
  margin-right: 0;

  @include viewport--xl {
    margin-bottom: inherit;
  }
}

.about-us__item:nth-child(3n) {

  @include viewport--xl {
    margin-right: 0;
  }

  @include viewport--lg {
    margin-bottom: inherit;
  }
}

.about-us__item:nth-child(2n) {
  @include viewport--lg {
    margin-right: 0;
  }
}

.about-us__item p {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;

  @include viewport--md {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
}
