.contacts {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 98px;
  min-height: 851px;
  margin-top: 250px;

  @include viewport--lg {
    min-height: 744px;
    margin-top: 157px;
    padding-bottom: 53px;
  }

  @include viewport--md {
    min-height: 563px;
    margin-top: 120px;
    padding-bottom: 51px;
  }
}

.contacts h2 {
  max-width: 500px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  color: $color-title;

  @include viewport--lg {
    font-size: 24px;
  }

  @include viewport--md {
    font-size: 18px;
  }
}

.contacts p {
  width: 500px;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  color: $color-texttint7;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0;

  @include viewport--lg {
    width: 629px;
    margin-top: 20px;
  }

  @include viewport--md {
    width: 269px;
  }
}

.contacts__map {
  width: 957px;
  height: 530px;
  margin-top: 41px;

  background-color: $color-inputborder;
  background-image: url("../img/png/map_desktop_1x.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/png/map_desktop_2x.png");
  }

  @include viewport--xl {
    width: 82.08%;
  }

  @include viewport--lg {
    width: 90.89%;
    height: 545px;
    margin-top: 20px;

    background-image: url("../img/png/map_tablet_1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/map_tablet_2x.png");
    }
  }

  @include viewport--md {
    width: 100%;
    height: 250px;
    margin-top: 19px;

    background-image: url("../img/png/map_mobile_1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/map_mobile_2x.png");
    }
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  width: 558px;
  margin: 0;
  margin-top: 39px;
  padding: 0;
  list-style: none;

  font-size: 16px;
  line-height: 22px;
  color: $color-texttint5;

  @include viewport--lg {
    margin-top: 20px;
  }

  @include viewport--md {
    flex-direction: column;
    align-items: flex-start;
    width: 288px;
    margin-top: 31px;
  }
}

.contacts__email {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 90px;

  letter-spacing: 0;

  @include viewport--md {
    justify-content: center;
    align-items: center;

    margin-right: 0;
    margin-left: 14px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
    transition: $transition-time;
    outline: none;
    cursor: pointer;
  }
}

.contacts__email svg {
  margin-right: 15px;

  @include viewport--md {
    margin-top: 3px;
  }
}

.contacts__telvalue {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 0;

  letter-spacing: 0;

  @include viewport--md {
    justify-content: center;
    margin-left: 43px;
    margin-top: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
    transition: $transition-time;
    outline: none;
    cursor: pointer;
  }
}

.contacts__telvalue svg {
  margin-right: 18px;

  @include viewport--md {
    margin-right: 15px;
    margin-top: -3px;
  }
}
