.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -62px;
  z-index: -1;

  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 825px;
  background-color: $color-introback;

  // @include viewport--lg {
  // }

  // @include viewport--md {
  // }
}
