.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;

  margin: 0 auto;
  padding: 0;
  padding-bottom: 60px;
  width: 100%;
  min-height: 825px;
  background-color: $color-introback;
  background-image: url("../img/jpg/bike_intro_desktop_1x.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpg/bike_intro_desktop_2x.jpg");
  }

  @include viewport--lg {
    position: relative;
    min-height: 683px;
    background-color: $color-fonbasic;
    background-image: none;
  }

  @include viewport--md {
    min-height: 747px;
  }
}

.main-header__nav {
  display: none;

  &--nojs {
    display: flex;
  }

  @include viewport--lg {
    // display: none;
    flex-direction: column;
    // position: static;
    background-color: $color-fonbasic;
  }
}

.main-header__toggle {
  display: none;

  @include viewport--lg {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    padding: 0;

    background-color: transparent;
    border: none;

    &--active {
      span:nth-child(1) {
        display: flex;
      }

      span:nth-child(2) {
        display: none;
      }
    }

    &--nojs {
      display: none;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.5;
    transition: $transition-time;
    outline: none;
    cursor: pointer;
  }
}

.main-header__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.main-header__btn-open {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: $color-button;
}

.main-header__intro {
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin-top: 256px;

  @include viewport--lg {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: 683px;
    margin-top: 0;
  }
}

.main-header__promo {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  width: 393px;
  min-height: 267px;

  @include viewport--lg {
    // justify-content: flex-start;
    position: relative;
    width: 100%;
    min-height: 340px;
    padding: 25px 21px;

    background-color: $color-introback;
    background-image: url("../img/jpg/bike_intro_tablet_1x.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/bike_intro_tablet_2x.jpg");
    }
  }

  @include viewport--md {
    min-height: 390px;
    padding: 25px 16px;

    background-image: url("../img/jpg/bike_intro_mobile_1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/bike_intro_mobile_2x.jpg");
    }
  }
}

.main-header__promo h2 {
  margin: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  text-align: start;
  color: $color-fonbasic;

  @include viewport--lg {
    align-self: center;
    width: 525px;
    margin-top: 88px;

    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  @include viewport--md {
    width: 288px;
    margin-top: 75px;
  }
}

.main-header__promo p {
  margin: 0;
  margin-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-align: start;
  color: $color-fonbasictint8;

  @include viewport--lg {
    align-self: center;
    width: 435px;
    margin-top: 20px;

    font-size: 18px;
    text-align: center;
  }

  @include viewport--md {
    width: 288px;
  }
}

.main-header__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 326px;
  min-height: 263px;
  margin-top: 5px;

  @include viewport--lg {
    width: 321px;
    margin-top: 70px;
  }

  @include viewport--md {
    width: 288px;
  }
}

.main-header__form p {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-fonbasic;

  @include viewport--lg {
    font-size: 18px;
    color: $color-text;
  }
}

.main-header__list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    margin-top: 30px;
  }

  @include viewport--md {
    margin-top: 20px;
  }
}

.main-header__item {
  width: 100%;
}

.main-header__item input {
  width: 100%;
  min-height: 48px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 5px;
  padding-left: 29px;
  border: 1px solid $color-inputborder;
  border-radius: 4px;

  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $color-input;

  @include viewport--lg {
    padding-left: 21px;
  }

  @include viewport--md {
    padding-left: 26px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border: 1px solid $color-button;
    outline: none;
  }
}
