.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 873.5px;
  margin: 0 auto;

  color: $color-fonbasictint7;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.005em;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 873.5px;
    height: 1px;
    background-color: $color-fonbasictint2;

    @include viewport--lg {
      justify-content: flex-start;
      align-items: flex-start;
      height: 0;
      width: 0;
    }
  }

  @include viewport--lg {
    display: none;
    justify-content: flex-start;

    width: 100%;

    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    &--nojs {
      display: flex;
      position: static;
    }

    &--open {
      display: flex;
      position: absolute;
      z-index: 1;

      max-height: 100vh;
      min-height: 100vh;
      overflow-y: scroll;
    }
  }
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 833px;
  min-height: 62px;
  margin: 0;
  padding: 0;


  list-style: none;

  @include viewport--lg {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    min-width: 320px;
    min-height: 568px;
    padding: 90px 0 0 0;

    color: $color-menutext;
  }
}

.site-navigation__item {
  display: flex;
  margin-top: 10px;
  margin-right: 135px;

  @include viewport--lg {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    min-height: 60px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 10px 25px 10px 16px;
    background-color: $color-menuback;
  }
}

.site-navigation__item:nth-child(4n) {
  margin-right: 0;
}

.site-navigation__link {
  display: flex;

  @include viewport--lg {
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &:hover,
  &:focus {
    color: $color-button;
    transition: $transition-time;
    outline: none;
    cursor: pointer;
  }
}

.site-navigation__text {
  @include viewport--lg {
    width: 93%;
    text-align: start;
  }
}

.site-navigation__icon {
  display: none;

  @include viewport--lg {
    display: block;
  }
}
