.types {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 1040px;
  margin-top: 131px;
  padding-top: 151px;
  background-color: $color-typeback;

  @include viewport--lg {
    min-height: 945px;
    margin-top: 30px;
    padding-top: 50px;
    font-size: 24px;
    line-height: 41px;
  }

  @include viewport--md {
    justify-content: flex-start;
    min-height: 1316px;
    // padding-top: 55px;
  }
}

.types h2 {
  margin: 0;
  font-weight: 600;

  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  color: $color-title;

  @include viewport--lg {
    font-size: 24px;
    line-height: 41px;
  }
}

.types__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1126px;
  margin: 0;
  margin-top: 51px;
  padding: 0;
  list-style: none;

  @include viewport--xl {
    width: 78.19%;
  }

  @include viewport--lg {
    justify-content: center;
    width: 590px;
    margin-top: 28px;
  }

  @include viewport--md {
    flex-direction: column;
    align-items: center;
    width: 84.38%;
  }
}

.types__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 600;

  @include viewport--xl {
    width: 29.33%;
  }

  @include viewport--lg {
    // width: 270px;
    width: 45.76%;
    min-height: 356px;
    margin-bottom: 45px;
  }

  @include viewport--md {
    width: 270px;
    min-height: 356px;
    margin-bottom: 37px;
  }
}

.types__item img {
  border-radius: 10px;

  @include viewport--lg {
    width: 270px;
    height: 300px;
  }
}

.types__item p {
  margin: 0;
  margin-top: 17px;

  // @include viewport--lg {

  // }
}

.types__item--bigcurcle {
  position: relative;
  z-index: 1;
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -60px;
    top: 156px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 27px $color-button;

    @include viewport--lg {
      left: -37px;
      top: 200px;
      width: 127px;
      height: 127px;
      box-shadow: inset 0 0 0 18px $color-button;
    }

    @include viewport--md {
      left: -24px;
      top: 202px;
    }
  }

  @include viewport--lg {
    margin-right: 50px;
    margin-top: 0;
  }

  @include viewport--md {
    margin-right: 0;
  }
}

.types__item--shift {
  position: relative;
  margin-top: 40px;

  @include viewport--lg {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: -19px;
    top: -18px;
    width: 47px;
    height: 47px;
    box-shadow: inset 0 0 0 8px $color-button;

    @include viewport--lg {
      width: 0;
      height: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -23px;
    top: 540px;
    width: 47px;
    height: 47px;
    box-shadow: inset 0 0 0 8px $color-button;

    @include viewport--lg {
      width: 0;
      height: 0;
    }
  }
}

.types__item--smallcurcle {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -36px;
    top: -32px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 17px $color-button;

    @include viewport--lg {
      right: -25px;
      top: -20px;
      width: 68px;
      height: 68px;
      box-shadow: inset 0 0 0 13px $color-button;
    }

    @include viewport--md {
      right: -15px;
    }
  }
}
