@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensans300.woff2") format("woff2"),
    url("../fonts/opensans300.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/opensans400.woff2") format("woff2"),
    url("../fonts/opensans400.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/opensans600.woff2") format("woff2"),
    url("../fonts/opensans600.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/opensans700.woff2") format("woff2"),
    url("../fonts/opensans700.woff") format("woff");
}
